body {
    margin: 0px;
    padding: 0px;

}

main {
    display: flex;
    flex-direction: column;
    margin: 5em auto;
    /* border: 2px solid brown; */
}

.title {
    margin: .5em auto;
}

.hero {
    display: flex;
    justify-content: space-around;
    /* height: 480px; */
    background-color: silver;
    margin: 0em 20em 1em;
    border: 2px solid brown;
}

.player-side,
.computer-side {
    background-color: burlywood;
    width: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.2em 4em;
}

.player-side p,
.computer-side p {
    margin: 0 auto 8px;
    font-size: 6em;
}

.result-announcement {
    margin: 1em auto;
}

.btn-selection {
    display: flex;
    justify-content: center;
    gap: 3em;
    margin: 16px auto;
}

.btn-selection button {
    padding: 1em 2em;
    font-size: 1.2em;
}